[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 Z3 E-3 F3000
    G90
    # home extruder + bed
    G28 X0 Y0 Z0
    G90
    BED_MESH_PROFILE LOAD="default"
    # Disable steppers
    M84
