[include fluidd.cfg]
[include KAMP_Settings.cfg]

[include printer-qidi-xmax-icarus-dragon-orbiter-2.cfg]
#[include rpi.cfg]
[include macros/*.cfg]

[exclude_object]

[skew_correction]

[gcode_arcs]

[idle_timeout]
gcode:
    {% if printer.pause_resume.is_paused %}
      {action_respond_info("Ignoring timeout while print is active")}
    {% else %}
      TURN_OFF_HEATERS
      M84
    {% endif %}
timeout: 7200

[temperature_sensor rpi_temp]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 0.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 0.0   ; the value to retract while PAUSE
variable_cancel_retract   : 3.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 0.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : False ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.129548, -0.088715, -0.050382, -0.027882, -0.010382, -0.019548, -0.0328815, -0.046215, -0.045382, -0.067048
#*# 	  -0.077048, -0.029548, -0.005382, 0.008785, 0.019618, 0.020452, 0.016702, 0.012952, 0.007952, -0.015382
#*# 	  -0.101215, -0.037048, -0.017048, -0.007882, 0.030452, 0.013785, 0.0054515, -0.002882, -0.007882, -0.044548
#*# 	  -0.100382, -0.075382, -0.033715, 0.002952, 0.025452, 0.037118, 0.026285, 0.015452, -0.005382, -0.035382
#*# 	  -0.132048, -0.077882, -0.052882, -0.038715, 0.007952, -0.003715, -0.012465, -0.021215, -0.022882, -0.063715
#*# 	  -0.163715, -0.125382, -0.085382, -0.064548, -0.027882, -0.012882, -0.027882, -0.042882, -0.052882, -0.082048
#*# 	  -0.249548, -0.172882, -0.119548, -0.123715, -0.077048, -0.087048, -0.108298, -0.129548, -0.114548, -0.156215
#*# tension = 0.2
#*# min_x = 5.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 5.0
#*# x_count = 10
#*# max_y = 185.95999999999998
#*# mesh_x_pps = 2
#*# max_x = 269.96000000000004
#*#
#*# [bltouch]
#*# z_offset = 2.540
#*#
#*# [heater_bed]
#*# pid_kp = 70.433
#*# pid_ki = 0.947
#*# pid_kd = 1310.055
#*# control = pid
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.260
#*# pid_ki = 0.940
#*# pid_kd = 143.924
#*#
#*# [skew_correction calilantern_skew_profile]
#*# xy_skew = -0.006137844956795366
#*# xz_skew = -0.0005656946857036658
#*# yz_skew = -0.0004596270551272893
