[include fluidd.cfg]
[include KAMP_Settings.cfg]

[include printer-qidi-xmax-icarus-dragon-orbiter-2.cfg]
#[include rpi.cfg]
[include macros/*.cfg]

[exclude_object]

[skew_correction]

[gcode_arcs]

[idle_timeout]
gcode:
    {% if printer.pause_resume.is_paused %}
      {action_respond_info("Ignoring timeout while print is active")}
    {% else %}
      TURN_OFF_HEATERS
      M84
    {% endif %}
timeout: 7200

[temperature_sensor rpi_temp]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 0.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 0.0   ; the value to retract while PAUSE
variable_cancel_retract   : 3.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 0.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : False ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.148691, -0.083691, -0.032858, -0.024524, 0.003809, -0.007024, -0.011191, -0.015358, -0.002024, -0.036191
#*# 	-0.076191, -0.036191, -0.005358, 0.009642, 0.029642, 0.031309, 0.0296425, 0.027976, 0.027976, 0.002976
#*# 	-0.102024, -0.051191, -0.023691, -0.009524, 0.036309, 0.012142, 0.0129755, 0.013809, 0.024642, -0.009524
#*# 	-0.104524, -0.066191, -0.042858, -0.001191, 0.024642, 0.052142, 0.036309, 0.020476, 0.039642, -0.007858
#*# 	-0.163691, -0.103691, -0.067024, -0.037024, 0.003809, -0.004524, -0.001191, 0.002142, -0.005358, -0.025358
#*# 	-0.190358, -0.148691, -0.087858, -0.071191, -0.022858, -0.017024, -0.0203575, -0.023691, -0.028691, -0.052024
#*# 	-0.271191, -0.220358, -0.157858, -0.141191, -0.094524, -0.086191, -0.106191, -0.126191, -0.091191, -0.138691
#*# tension = 0.2
#*# min_x = 5.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 5.0
#*# x_count = 10
#*# max_y = 185.95999999999998
#*# mesh_x_pps = 2
#*# max_x = 269.96000000000004
#*#
#*# [bltouch]
#*# z_offset = 2.520
#*#
#*# [heater_bed]
#*# pid_kp = 70.433
#*# pid_ki = 0.947
#*# pid_kd = 1310.055
#*# control = pid
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.260
#*# pid_ki = 0.940
#*# pid_kd = 143.924
#*#
#*# [skew_correction calilantern_skew_profile]
#*# xy_skew = -0.006137844956795366
#*# xz_skew = -0.0005656946857036658
#*# yz_skew = -0.0004596270551272893
